*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
div.Box{
	background-color : #CCF;
	box-align :center;
	margin-left : 300px;
	margin-right: 300px;
	margin-top: 100px;
	margin-bottom:10px;
	padding : 30px;
}
div.TypeList{
	background-color: #DDF;
	box-align:center;
	text-align:left;
	padding:10px;
	margin-top:10px
}
p.BiggerText{
	font-size:20px;
}
p.BiggerBoldText{
	font-size:30px;
	text-align:center;
	font-weight: bold;
}