* {
	margin: 0;
	padding: 0;
}
#titleH1 {
	font-size : 50px;
	margin: 15px 0px;
	background-color:white;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-align:center;
}

#containerBox{
	background-color:white;
	margin-top:90px;
	margin-inline: 200px;
	padding:20px;
	border-radius:10px;
	box-align:center;
}

#inlineDisplay{
	margin: 0px 40px;
	display:inline-block;
}
input.customButton{
	border-radius:50px;
	background-color: #7cd7e7;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: 200;
	width:90px;
	height:30px;
	font-size: 15px;
	margin-top: 25px;
	outline: 2px solid #439bab;
}