* {
	margin: 0;
	padding: 0;
}

#Box{
	background:white;
	border-radius:10px;
	box-align :center;
	margin-left : 300px;
	margin-right: 300px;
	margin-top: 130px;
	padding : 30px;
}
#PokeList{
	border-radius:10px;
	background-color: #DDD;
	box-align:center;
	text-align:left;
	padding:20px;
	margin-top:10px;
}
h1 {
	font-size : 30px;
	text-align:center;
	background-color:white;
	margin-left: 200px;
	margin-right:200px;
}