* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	font-size : 40px;
	text-align:center;
}

div.PokemonForm{
	box-align : center;
	text-align: left;
	margin-left:50px;
	margin-right:50px;
}

div.PokemonFormBox{
	background-color : #CCF;
	box-align :center;
	margin-left : 300px;
	margin-right: 300px;
	margin-top: 100px;
	padding : 30px;
}
div.PokemonFormInputs{
	background-color : #DDF;
	box-align:center;
	padding:10px;
	height: 210px;
	margin-top:10px;
}
div.PokemonFormColumn{
	width:33.33%;
	float:left;
	text-align:left;
	margin-bottom: 10px;
}
div.WrapperBox{
	margin-left:200px;
	
	width:400px;
}

input.InteractiveButton:hover{
	background-color: #BBB
}

