<!DOCTYPE HTML>
<html>

<head>
	<link href="/css/battle.css" rel="stylesheet" type="text/css">
</head>

<body>
	{{>header}}
	<div class="battle-container">
		<div class="battle-inner-container">
			{{^battleFinished}}
			<h1>Battle!</h1>
			{{/battleFinished}}

			{{#battleFinished}}
			{{#winCondition}}
			<h1>You won: {{card}}
				{{#shiny}}
				shiny
				{{/shiny}}
				!
			</h1>
			{{/winCondition}}

			{{^winCondition}}
			<h1>You lost the battle...</h1>
			{{/winCondition}}
			{{/battleFinished}}

			<div class="team-container">
				{{#enemyTeam}}
				<p>{{pokemon.name}}
				<p>
					{{/enemyTeam}}
			</div>
			<h2>VS</h2>
			<div class="team-container">
				{{#userTeam}}
				<p>{{pokemon.name}}
				<p>
					{{/userTeam}}
			</div>
			{{^battleFinished}}
			<form action="/battleResult" method="GET">
				<input type="submit" value="⚔ Start Battle! ⚔">
				<input type="hidden" name="_csrf" value="{{token}}" />
			</form>
			{{/battleFinished}}

			{{#battleFinished}}
			{{#winCondition}}
				{{^tweeted}}
				<form action="/battleResult/tweet" method="GET">
					<input type="submit" value="Tweet on @RotomNetForum">
					<input type="hidden" name="_csrf" value="{{token}}" />
				</form>
				{{/tweeted}}
				{{#tweeted}}
				</br>
				<a href="#" onClick="window.open('{{tweetUrl}}', '_blank')">Ver Tweet</a>
				{{/tweeted}}
			{{/winCondition}}
			<form action="/deck/{{user_username}}" method="GET">
				<input type="submit" value="Watch my cards">
				<input type="hidden" name="_csrf" value="{{token}}" />
			</form>
			{{/battleFinished}}
		</div>
	</div>

</body>

</html>