<div class="Back">
	<div class="Container">
		{{#_shiny}}
		<div class="PokemonCard" label="shiny_effect | shiny_thin_border">
			<div class="Hover" label="shiny_strong_bck">
				<div class="InnerHover" label="shiny_bck"> <!--style="--color_bck: blue"-->
					<h2 label="shiny_text">{{_number}}</h2>
				</div>
			</div>
			<div class="Name">
				<h2 label="shiny_text">
					WIGGLYPUFF
				</h2>
				<h3 label="shiny_bck | shiny_text | shiny_thin_border">
					x5
				</h3>
				{{/_shiny}}
				{{^_shiny}}
				<div class="PokemonCard">
					<div class="Hover">
						<div class="InnerHover">
							<h2>{{_number}}</h2>
						</div>
					</div>
					<div class="Name">
						<h2>
							WIGGLYPUFF
						</h2>
						<h3>
							x5
						</h3>
						{{/_shiny}}
					</div>
				</div>
			</div>
		</div>