<!DOCTYPE HTML>
<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
		<link href="css/header.css" rel="stylesheet" type="text/css">
		<meta charset = "UTF-8">
		<title>RotomNet</title>
	</head>
	
	<body>
		<header class = 'main-header'>
			<div class = "nav-container">
				<div class = "image-container">
					<img src="/image/rotom" alt="">
				</div>				
				<div class = "logo-letters">
					<h1>RotomNet</h1>
				</div>								
				<nav>
					<ul>
						<li><a href="#">Random Team Generator</a></li>
						<li><a href="/pokedex">Pokédex</a></li>
						<li><a href="/register">Register</a></li>
					</ul>
				</nav>
			</div>				
		</header class = 'main-header'>
		
	</body>
</html>