<!DOCTYPE HTML>
<html>
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">
		<link href="/css/header.css" rel="stylesheet" type="text/css">
		<meta charset = "UTF-8">
		<title>RotomNet</title>
	</head>
	
	<body>
		<header class = 'main-header'>
			<div class = "nav-container">
				<div class = "image-container">
					<img src="/image/rotom" alt="">
				</div>				
				<div class = "logo-letters">
					<h1>RotomNet</h1>
				</div>								
				<nav>
					<ul>
						<li><a href="/teamGenerator">Random Team Generator</a></li>
						<li><a href="/pokedex">Pokédex</a></li>
						{{#logged}}
							{{#is_admin}}
								<li><a href="/users">All Users</a></li>
							{{/is_admin}}
							
							<li><a href="/deck/{{user_username}}">My Deck</a></li>
							<li><a href="/displayTeams/{{user_username}}">My Teams</a></li>
							<li><a href="/battle/{{user_username}}">Battle</a></li>
							<li><a href="/modify/{{user_username}}">Profile</a></li>
							
							<li><a href="/logout">Logout</a></li>
						{{/logged}}
						{{^logged}}
							<li><a href="/login">Login</a></li>
						{{/logged}}
					</ul>
				</nav>
			</div>				
		</header class = 'main-header'>
		
	</body>
</html>