<!DOCTYPE HTML>
<html>

	<head>
		<title>RotomNet</title>
	</head>
	
	<body>
	{{>header}}
		<header>
			<h1>Main Page</h1>
		</header>
		<article>
		Hello, this is the main page for RotomNet
		<br><br>
		<a href="/pokedex">Sample link to navigate to Pokedex</a>
		<br>
		<a href="/deck">Sample link to navigate to sample user deck</a>
		<br>
		<a href="/teamGenerator">Sample link to navigate to TeamGenerator</a>
		<br>
		<a href="/displayTeams">Sample link to navigate to saved Teams</a>
		</article>
	</body>
</html>
