<!DOCTYPE HTML>
<html>
<head>		
		<link href="/css/modify.css" rel="stylesheet" type="text/css">
</head>
<body>
	{{>header}}	
	<div class = "user-container">	
		<h1>Modify User</h1>		
		<table class="user-table">
			<tr>
				<th>User image</th>
				<th>Username</th>
				<th>EMail</th>
				<th>Days logged</th>
				<th>Last day logged</th>
			</tr>
			<tr>
				<td class = "td-image">
					<img src="/{{user.userId}}/image" alt=""></img>
				</td> 	
				<td>{{user.username}}</td>
				<td>{{user.mail}}</td>
				<td>{{user.daysLogged}}</td>
				<td>{{user.lastLog}}</td>		
			</tr>			
		</table>
		<form action="/modified_user/{{user.username}}" method="post" class="modify-form" enctype="multipart/form-data"><br>
				
				<label for="pwd">New Password</label><br>
				<input type="password" id="pwd" name="pwd"><br>

				<label for="mail">EMail</label><br>
				<input type="email" id="mail" name="mail"><br>
			
				
				<label for= "image">New User Image</label><br>
				<input type='file' name='image' accept=".jpg, .jpeg">
				<input type="submit" value="Accept Changes">	
				<input type="hidden" name="_csrf" value="{{token}}"/>			
			</form>
	</div>

</body>
</html>