<div class="Back">
	<div class="Container">
		<div class="PokemonCard">
			<div class="Hover">
				<div class="InnerHover">
					<h2>
						{{pokemon.pokedexNumber}}
					</h2>
				</div>
			</div>
			<div class="Name">
				<h2 label="heal">
					♥{{health}}
				</h2>
				<h2>
					{{pokemon.name}}
				</h2>
				<h3>

				</h3>
				<div class="Stats">
					<h2 label="atck">
						⚔{{attack}}
					</h2>
					<h2 label="def">
						🛡{{defense}}
					</h2>
				</div>
			</div>

		</div>
	</div>
</div>