<!DOCTYPE HTML>
<html>
<head>		
		<link href="css/register.css" rel="stylesheet" type="text/css">
</head>

<body>
	{{>header}}	
	<div class = "register-form-container">			
		<div class = "form-container">
			<form action="/registered" method="post" class="register-form" enctype="multipart/form-data"><br>
				<h1>User Register</h1>
				{{#duplicatedUsername}}
					<label for="username">Username already in use!</label><br>
					<input type="text" id="username" name="username" class="wrong-text"><br>
				{{/duplicatedUsername}}
				
				{{^duplicatedUsername}}
					<label for="username">Username</label><br>
					<input type="text" id="username" name="username"><br>				
				{{/duplicatedUsername}}
				
				<label for="pwd">Password</label><br>
				<input type="password" id="pwd" name="pwd"><br>
				
				{{^emptyMail}}
					<label for="mail">EMail</label><br>
					<input type="email" id="mail" name="mail"><br>
				{{/emptyMail}}
				{{#emptyMail}}
					<label for="mail">Please enter a valid email</label><br>
					<input type="email" id="mail" name="mail" class="wrong-text"><br>
				{{/emptyMail}}
				
				<label for= "image">User Image</label><br>
				<input type='file' name='image' accept=".jpg, .jpeg">
				<input type="submit" value="Sign Up">				
			</form>
		</div>
	</div>

</body>
</html>