<html>
	<header>
		<title>Random Team Generator</title>
		<link rel = 'stylesheet' type = 'text/css' href = '/css/teamGenerator.css'>
	</header>

	<body>
	{{>header}}
	<div class = 'globalDiv'>
	<h1>Random Team Generator</h1>
		<div class='PokemonFormBox'>
			<div class='PokemonForm'>
				<form action='/createRandomTeam' method='post'>
				<p>Name of the team:&emsp;<input type='text' name='teamName'></p>
				<input type='checkbox' id='legendaryCheck' name = 'legendaryCheck'>
				<label for='legendaryCheck'>I want a legendary Pokemon</label>
				<div class='PokemonFormInputs'>
					<p align='center'>Which types do you wish your team to include?</p>
					<p align='center'>If more than six options are checked, only the first six will be selected</p>
					<p align='center'>If no type is selected, the team will be generated randomly amongst all 18 types</p><br>
					<div class = 'WrapperBox'>
						<div class='PokemonFormColumn'>
							<input type='checkbox' id='fireCheck' name = 'fireCheck'>
							<label for='fireCheck'>Fire</label> <br>
							<input type='checkbox' id='waterCheck' name = 'waterCheck'>
							<label for='waterCheck'>Water</label> <br>
							<input type='checkbox' id='grassCheck' name = 'grassCheck'>
							<label for='grassCheck'>Grass</label> <br>
							<input type='checkbox' id='electricCheck' name = 'electricCheck'>
							<label for='electricCheck'>Electric</label> <br>
							<input type='checkbox' id='groundCheck' name = 'groundCheck'>
							<label for='groundCheck'>Ground</label> <br>
							<input type='checkbox' id='rockCheck' name = 'rockCheck'>
							<label for='rockCheck'>Rock</label> <br>
							</div>
						<div class='PokemonFormColumn'> 
							<input type='checkbox' id='poisonCheck' name = 'poisonCheck'>
							<label for='poisonCheck'>Poison</label> <br>
							<input type='checkbox' id='psychicCheck' name = 'psychicCheck'>
							<label for='psychicCheck'>Psychic</label> <br>
							<input type='checkbox' id='flyingCheck' name = 'flyingCheck'>
							<label for='flyingCheck'>Flying</label> <br>
							<input type='checkbox' id='bugCheck' name = 'bugCheck'>
							<label for='bugCheck'>Bug</label> <br>
							<input type='checkbox' id='normalCheck' name = 'normalCheck'>
							<label for='normalCheck'>Normal</label> <br>
							<input type='checkbox' id='ghostCheck' name = 'ghostCheck'>
							<label for='ghostCheck'>Ghost</label> <br>
						</div>
						<div class='PokemonFormColumn'>
							<input type='checkbox' id='fightingCheck' name = 'fightingCheck'>
							<label for='fightingCheck'>Fighting</label> <br>
							<input type='checkbox' id='steelCheck' name = 'steelCheck'>
							<label for='steelCheck'>Steel</label> <br>
							<input type='checkbox' id='iceCheck' name = 'iceCheck'>
							<label for='iceCheck'>Ice</label> <br>
							<input type='checkbox' id='dragonCheck' name = 'dragonCheck'>
							<label for='dragonCheck'>Dragon</label> <br>
							<input type='checkbox' id='darkCheck' name = 'darkCheck'>
							<label for='darkCheck'>Dark</label> <br>
							<input type='checkbox' id='fairyCheck' name = 'fairyCheck'>
							<label for='fairyCheck'>Fairy</label> <br>
						</div>
					</div>
				</div>
				<br>
				<input type='submit' value='Create random team' class='InteractiveButton'>
			</div>
				
			</form>	
			</div>
	</body>
</html>