<html>
	<head>
		{{#wrongUsername}}
			<title>Wrong username </title>
		{{/wrongUsername}}
		{{^wrongUsername}}
			<title>Random team generated </title>
		{{/wrongUsername}}
		<link rel='stylesheet' type='text/css' href='/css/teamGenerated.css'>
	</head>
	<body style='background-color:black'>
		{{>header}}
		<div id='Box'>
			<p class='BiggerBoldText'>Congratulations, your team has been successfully created!</p><br>
			<p class='BiggerText'>Your requirements were: </p>
			<p>Team name:{{#team}} {{name}} {{/team}}</p>
			<p>Legendaries: {{#legendaryCheck}} Yes {{/legendaryCheck}} {{^legendaryCheck}} No {{/legendaryCheck}}</p>
			{{^anyType}}
			<p>Types: </p>
			<div id='TypeList'>
				{{#selectedTypes}}
					<li>{{.}}</li>
				{{/selectedTypes}}
			</div>
			{{/anyType}}
			
			{{^selectedTypes}}
				<p>No specific types were selected</p>
			{{/selectedTypes}}
			<br>
			<p class='BiggerText'>Your team is: </p>
			<div id='TypeList'>
				{{#team}}
					{{#teamPokemon}}
						<p>{{name}} -> {{type1}}{{#type2}}/{{type2}}{{/type2}}</p>
						<p>Attacks: <br>&emsp;{{attack1}}<br>&emsp;{{attack2}}<br>&emsp;{{attack3}}<br>&emsp;{{attack4}}</p>
						<p>Nature: {{nature}}&emsp;Ability: {{ability}}&emsp;Item: {{item}}</p>
						<br>
					{{/teamPokemon}}
				{{/team}}
			</div>
		</div>
		<br><br>
		<div align="center">
		<form action='saveTeam' method='post' align='center' class='transparentForm'>
			<input type = 'text' name='username'>&emsp;
			<input type='submit' value='Save Team' class='customButton'>
		</form>&emsp;
		<form action='teamGenerator'method='post' align='center'class='transparentForm'>
			<input type='submit' value='Try again' class='customButton'>
		</form>&emsp;
		<form action='exit' align='center'class='transparentForm'>
			<input type='submit' value='Exit' class='customButton'>
		</form>
		</div>	
		<br>
		<br>
	</body >
</html>