<html>
	<body>
		{{#team}}
			<p>Team {{id}}:</p>
			<p>Name: {{name}}</p>
			<p>Pokemon: </p>
				{{#teamPokemon}}
				<li>
					<p>{{name}} -> {{type1}}{{#type2}}/{{type2}}{{/type2}}</p>
					<p>Attacks: <br>&emsp;{{attack1}}<br>&emsp;{{attack2}}<br>&emsp;{{attack3}}<br>&emsp;{{attack4}}</p>
					<p>Nature: {{nature}}&emsp;Ability: {{ability}}&emsp;Item: {{item}}</p>
					<br>
				</li>
				{{/teamPokemon}}
				
			<form action="/deleteTeam/{{id}}" method='post'>
				<input type='submit' value='Delete this team'>
			</form>
		{{/team}}
		
	</body>
</html>
