<html>
	<head>
		<title>Display selected team</title>
		<link rel = 'stylesheet' type = 'text/css' href='/css/teamDisplay.css'>
	</head>
	<body style='background-color:black'>
		{{>header}}
		<div id='Box'>
		{{#team}}
			<h1 id='titleH1'>Team {{id}}</h1>
			<div id='PokeList'>
			<p>Name: {{name}}</p>
			<p>Pokemon: </p>
				{{#teamPokemon}}
					<p>&emsp;{{name}} -> {{type1}}{{#type2}}/{{type2}}{{/type2}}</p>
					<p>&emsp;Attacks: <br>&emsp;&emsp;{{attack1}}<br>&emsp;&emsp;{{attack2}}<br>&emsp;&emsp;{{attack3}}<br>&emsp;&emsp;{{attack4}}</p>
					<p>&emsp;Nature: {{nature}}&emsp;Ability: {{ability}}&emsp;Item: {{item}}</p>
					<br>
				{{/teamPokemon}}
			</div>
			<br>
			<br>
			<form action="/deleteTeam/{{id}}/{{#user}}{{username}}{{/user}}" method='post' align='center' >
				<input type='submit' value='Delete team' class='customButton'>
				<input type="hidden" name="_csrf" value="{{token}}"/>
			</form>
		{{/team}}
	</div>
	</body>
</html>
