<!DOCTYPE HTML>
<html>
<head>		
		<link href="css/users.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	{{>header}}	
	<div class = "user-container">	
		<h1>All Registered Users</h1>		
		<table class="user-table">
			<tr>
				<th>User image</th>
				<th>Username</th>
				<th>Days logged</th>
				<th>Last day logged</th>
				<th>User Deck</th>
				<th>Modify user?</th>
				<th>Delete user?</th>
			</tr>
			{{#users}}
				<tr>
					<td class = "td-image">
						<img src="/{{userId}}/image" alt=""></img>
					</td> 	
					<td>{{username}}</td>
					<td>{{daysLogged}}</td>
					<td>{{lastLog}}</td>	
					<td>
						<form action="/displayTeams/{{username}}" class="show-teams-form" method="GET">
							<input type="submit" value="🤝">
						</form>
					</td>		
					<td>
						<form action="/deck/{{username}}" class="show-deck-form" method="GET">
							<input type="submit" value="🃏">
						</form>
					</td>	
					<td>
						<form action="/modify/{{username}}" class="modify-form" method="GET">
							<input type="submit" value="🛠">
						</form>
					</td>		
					<td>
						<form action="/{{userId}}/delete" class="delete-form" method="POST">
							<input type="submit" class="btn-trash" value="🗑">
						</form>
					</td>	
				</tr>
			{{/users}}			
		</table>
		<h1></h1>
	</div>

</body>
</html>